extends ../layout/common

block content

	h1 Products
	.card-deck
		- var count = 0;
		each product in products
			- count=count+1;
			.card.mb-2(style='width: 18rem')
				img.card-img-top(src=product.image)
				.card-body
					h5.card-title=product.name
					p.card-text=product.description
				.card-footer
					a.btn.btn-primary(href='cart/add/'+product.id) Add to cart

			if count == 4
				- count = 0;
				.w-100

	nav
		ul.pagination.justify-content-end
			//- xu ly xuat hien nut previous
			if (currentPage == 1)
				li.page-item.disabled
					a.page-link(href='#',tabindex='-1',aria-disabled='true') Previous
			else
				- var previousPage = parseInt(currentPage) - 1;
				li.page-item
					a.page-link(href='/products?page='+previousPage) Previous

			//- xu ly xuat hien danh sach cac page
			- var n = 0;
			while n < totalNumberOfPage
				- n = n+1;
				li.page-item(class= (n == currentPage ? 'active' : '') )
					a.page-link(href='/products?page='+n) #{n}
					
			//- xu ly xuat hien nut next
			if (currentPage == totalNumberOfPage)
				li.page-item.disabled
					a.page-link(href='#',tabindex='-1',aria-disabled='true') Next
			else
				- var previousPage = parseInt(currentPage) + 1;
				li.page-item
					a.page-link(href='/products?page='+previousPage) Next